<div class="container pt-5 pb-5">
  <div class="col-12">
    <div class="d-flex flex-wrap justify-content-between">
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">About Component</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit
            voluptate ducimus ipsum voluptatem consectetur. Impedit aliquam
            provident recusandae quo dolore adipisci, distinctio fugit facere
            obcaecati est odio molestiae, exercitationem sequi?
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est
            recusandae nostrum? Explicabo optio, consequuntur dignissimos
            pariatur deleniti quod perspiciatis officia quis error excepturi
            recusandae ratione delectus quia corrupti cupiditate. Explicabo
            consequatur possimus reprehenderit corporis ducimus officiis nulla
            eveniet iste, ipsam unde ad adipisci, iure eum necessitatibus et quo
            eos? Adipisci laudantium odio quia voluptatem doloremque fuga
            expedita fugiat molestiae.
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card shadow mt-2">
        <div class="card-body">
          <h5 class="card-title">Admin Component</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
